*.o
*.dSYM
*.DS_Store
build/*
*/docs/
__pycache__
*_pb2.py
*.pb.cc
*.pb.h
.vscode/settings.json
protobuf*
abseil-cpp
yaml-cpp
install
test
python/nsb_test_client_multipleHosts.py
python/nsb_test_client.py
